co2_paper/data/data.csv
co2_paper/data/raw_data/
co2_paper/literature/
co2_paper/latex/graphics/
co2_paper/latex/main.aux
co2_paper/latex/main.bbl
co2_paper/latex/main.blg
co2_paper/latex/main.fdb_latexmk
co2_paper/latex/main.fls
co2_paper/latex/main.log
co2_paper/latex/main.out
co2_paper/latex/main.synctex.gz
co2_emission_venv/
co2_venv/

5. co2_project/co2_paper/data/data.csv
5. co2_project/co2_paper/data/raw_data/
5. co2_project/co2_paper/literature/
5. co2_project/co2_paper/latex/graphics/
5. co2_project/co2_paper/latex/main.aux
5. co2_project/co2_paper/latex/main.bbl
5. co2_project/co2_paper/latex/main.blg
5. co2_project/co2_paper/latex/main.fdb_latexmk
5. co2_project/co2_paper/latex/main.fls
5. co2_project/co2_paper/latex/main.log
5. co2_project/co2_paper/latex/main.out
5. co2_project/co2_paper/latex/main.synctex.gz
5. co2_project/co2_emission_venv/
5. co2_project/co2_venv/